azureml-acft-accelerator==0.0.83
azureml_acft_common_components==0.0.83
azureml-acft-contrib-hf-nlp==0.0.83
azureml-evaluate-mlflow==0.0.83
mltable==1.6.3
mpi4py==3.1.5
sentencepiece==0.1.99
transformers==4.55.0
huggingface-hub==0.34.3
datasets==4.0.0
evaluate==0.4.5
optimum==1.27.0
accelerate==1.7.0
diffusers==0.33.1
onnxruntime==1.22.0
rouge-score==0.1.2
sacrebleu==2.4.0
bitsandbytes==0.46.0
einops==0.7.0
aiohttp==3.12.14
peft==0.17.0
deepspeed==0.17.4
trl==0.21.0
tiktoken==0.6.0
scipy==1.14.0
catalogue==2.0.10
cryptography==44.0.1
setuptools==78.1.1
requests==2.32.4
