opencv-python
pyyaml
json_tricks
yacs
scikit-learn
pandas
timm==0.4.12
numpy==1.22.2
einops
fvcore
transformers==4.16.2
sentencepiece
ftfy
regex
vision-datasets==0.2.7
tenacity
requests
azure-storage-blob==12.11.0
deepspeed==0.6.3
GPUtil
mup==1.0.0
mlflow
azureml-mlflow
torchvision==0.12.0 --index-url https://download.pytorch.org/whl/cu118
torch==1.11.0 --index-url https://download.pytorch.org/whl/cu118
https://automlcesdkdataresources.blob.core.windows.net/wheels/MainzVision-0.3.0-py3-none-any.whl
