azureml-metrics[image]~=0.0.51
azureml-acft-accelerator==0.0.51
azureml-acft-common-components[image]~=0.0.51
azureml-acft-image-components==0.0.51.post1
azureml-core==1.56.0
azure-ai-ml==1.13.0
requests
datasets==2.15.0
transformers==4.38.2
accelerate==0.27.2
optimum==1.17.1
diffusers==0.24.0
openmim==0.3.9
certifi==2023.07.22
setuptools==67.6.0