azureml-metrics[image]~=47.0.0
azureml-evaluate-mlflow==47.0.0
azureml-acft-accelerator==47.0.0
azureml-acft-common-components[image]~=47.0.0
azureml-acft-image-components==47.0.0
azureml-core==1.55.0.post2
azure-ai-ml==1.13.0
requests
datasets==2.15.0
transformers==4.36.2
accelerate==0.25.0
optimum==1.16.1
diffusers==0.24.0
openmim==0.3.9
certifi==2023.07.22
setuptools==67.6.0