*     @azure/aml-assets
/assets/benchmark/ @azure/aims
/assets/responsibleai/ @azure/aml-rai
/assets/training/ @azure/aml-training
/assets/sample/ @Azure/aml-assets
/assets/data/ @Azure/azureml-data
/assets/models/ @azure/aml-training @azure/azureml-inference-idc
/assets/common/components/register_model/ @azure/aml-training
/assets/common/components/deploy_model/ @azure/aml-training
/assets/common/src/ @azure/aml-training
/assets/model_monitoring/ @Azure/aml-model-monitoring
/assets/large_language_models/ @azure/aml-training
