*     @azure/aml-assets
/assets/aml-benchmark/ @azure/aml-assets @azure/aml-benchmarking
/assets/benchmark/ @azure/aml-assets @azure/aims
/assets/responsibleai/ @azure/aml-assets @azure/aml-rai
/assets/training/ @azure/aml-assets @azure/aml-training
/assets/sample/ @Azure/aml-assets
/assets/data/ @azure/aml-assets @Azure/azureml-data
/assets/models/ @Azure/aml-ossmodels @azure/aml-assets
/assets/common/ @azure/aml-assets @azure/aml-training
/assets/model_monitoring/ @azure/aml-assets @Azure/aml-model-monitoring
/assets/large_language_models/ @azure/aml-assets @azure/aml-training @azure/aml-llm @azure/azureml-rag
/assets/evaluation_results/ @azure/aml-assets @azure/aml-benchmarking @azure/aml-llm
/assets/batch_score/ @azure/aml-assets @Azure/aml-batch-inferencing
/assets/promptflow/ @Azure/promptflow-builtin @azure/aml-assets
/assets/training/model_management/environments/foundation-model-inference @azure/aml-assets @Azure/aml-ossmodels
/scripts/promptflow-ci/ @Azure/promptflow-builtin @azure/aml-assets
