azureml-core=={{latest-pypi-version}}
azureml-dataset-runtime=={{latest-pypi-version}}
azureml-defaults=={{latest-pypi-version}}
azure-ml-component=={{latest-pypi-version}}
azureml-mlflow=={{latest-pypi-version}}
azureml-contrib-services=={{latest-pypi-version}}
azureml-inference-server-http
inference-schema
MarkupSafe
regex
pybind11
urllib3>=2.6.0
requests
pillow
transformers
aiohttp>=3.12.14
py-spy
debugpy
ipykernel
tensorboard
psutil
matplotlib
tqdm
py-cpuinfo
torch-tb-profiler
