azure.ai.ml>=1.2.0
azure.identity>=1.10.0
flake8==6.1.0
mock>=5.0.1
pydantic~=1.10  # pinned ~=1.10 due to errors in downloading 2.0.5
pydocstyle==6.3.0
pytest-asyncio>=0.20.3
pytest-azurepipelines==1.0.5 
pytest-cov>=4.0.0
pytest-mock>=3.10.0
pytest-timeout>=2.1.0
pytest-xdist
pytest>=7.2.1
aiohttp>=3.8.3
requests>=2.28.1
tiktoken>=0.3.3
StrEnum>=0.4.15
pyDispatcher>=2.0.7
setuptools>=72.1.0

# batch_score requirements
-r ../src/batch_score_oss/requirements.txt
