azure.identity>=1.10.0
azure.ai.ml>=1.2.0
pytest>=7.2.1
pytest-asyncio>=0.20.3
pytest-cov>=4.0.0
pytest-mock>=3.10.0
mock>=5.0.1
pydantic~=1.10  # pinned ~=1.10 due to errors in downloading 2.0.5
pytest-timeout>=2.1.0
pytest-xdist

# batch_score module requirements
-r ../src/batch_score/requirements.txt