olive-ai==0.3.1
onnxruntime==1.15.1
pydantic==1.10.10
azureml.core=={{latest-pypi-version}}
pandas=={{latest-pypi-version}}
plotly=={{latest-pypi-version}}
psutil=={{latest-pypi-version}}
datasets=={{latest-pypi-version}}
transformers=={{latest-pypi-version}}