# azureml-metrics[video]~={{latest-pypi-version}}
azureml-acft-accelerator=={{latest-pypi-version}}
azureml-acft-common-components[image]~={{latest-pypi-version}}
azureml-acft-image-components=={{latest-pypi-version}}
azureml-core=={{latest-pypi-version}}
requests>=2.31.4
datasets==2.15.0
transformers==4.53.0
accelerate==0.25.0
optimum==1.23.3
diffusers==0.24.0
openmim==0.3.9
mmengine==0.8.4
peft==0.15.2
setuptools>=82.0.0
filelock>=3.20.3