azure-core==1.28.0
azure-ai-ml==1.8.0
azure-identity==1.13.0
azureml-evaluate-mlflow==0.0.20
ffmpeg-python==0.2.0
langcodes==3.3.0
sentencepiece==0.1.99
accelerate==0.21.0
wget==3.2
applicationinsights==0.11.10
azureml-automl-core==1.52.0.post1
azureml-telemetry==1.52.0
