azure-core==1.33.0
azure-ai-ml==1.26.2
azure-identity==1.21.0
azureml-evaluate-mlflow==0.0.72
ffmpeg-python==0.2.0
langcodes==3.5.0
sentencepiece==0.2.0
accelerate==1.6.0
wget==3.2
applicationinsights==0.11.10
azureml-automl-core==1.59.0
azureml-telemetry==1.59.0
azureml-automl-dnn-vision==1.59.0
pyarrow==14.0.2
GitPython==3.1.44
paramiko==3.5.1
cryptography==44.0.2
