azureml-acft-accelerator==0.0.41
azureml-evaluate-mlflow==0.0.41
azureml-acft-common-components==0.0.41
azureml-acft-contrib-hf-nlp==0.0.41
azureml-acft-multimodal-components==0.0.41
# needed by multimodal
mltable==1.5.0
transformers==4.34.0
peft==0.4.0
deepspeed==0.9.5
optimum==1.11.0
accelerate==0.23.0
diffusers==0.18.0
onnxruntime-training==1.15.1
scipy==1.10.0
mpi4py==3.1.4
sentencepiece==0.1.99
rouge-score==0.1.2
sacrebleu==2.2.1
bitsandbytes==0.41.0
einops==0.6.1
aiohttp==3.9.1
certifi==2023.07.22
numpy==1.22
azure-ai-ml==1.11.1
azureml-dataprep==4.12.4
# Downgraded azureml-metrics, to prevent bug related to logger in azureml-metrics. Should be upgraded in next pypi release of acft-multimodal
azureml-metrics==0.0.33
