numpy==1.26.4
pandas==2.2.2
hydra-core==1.3.2
marshmallow==3.26.2
azure-ai-ml==1.16.1
azure-identity==1.16.1
mlflow-skinny==2.13.2
azureml-mlflow==1.56.0
azureml-dataprep==5.4.1
timm==0.9.16
opencv-python-headless==4.11.0.86
deepspeed==0.15.1
transformers==4.53.0
open-clip-torch==2.26.1
sentencepiece==0.2.1
peft==0.17.1
ninja==1.11.1.1
kornia==0.7.3
python-dotenv==1.0.1
einops==0.8.0 
mup==1.0.0 
pydicom==2.4.4 
SimpleITK==2.4.0
scikit-image==0.24.0 
arrow==1.3.0 
nltk==3.9.1 
dotmap==1.3.30
h5py==3.14.0
appdirs==1.4.4
ffmpeg==1.4
wheel==0.46.3
lightning==2.5.5
azureml-acft-image-components[mip]=={{latest-pypi-version}}
filelock>=3.20.3