# Install Python SDK
azure-ai-ml==1.27.1
openai
# hardcoded the version of azureml-mlflow here for faster Docker image building speed
azureml-mlflow==1.60.0.post1
# copilot dependencies
keyrings.alt
ipykernel
langchain
langchain-openai
semantic-kernel
pytest
keyring
# dev dependencies
setuptools>70.0.0
azureml-inference-server-http
