# Install Python SDK
azure-ai-ml==1.30.0
openai
# hardcoded the version of azureml-mlflow here for faster Docker image building speed
azureml-mlflow==1.61.0.post1
# copilot dependencies
keyrings.alt
ipykernel
langchain
langchain-openai
semantic-kernel
pytest
keyring
# dev dependencies
setuptools>80.1
azureml-inference-server-http
