azure-ai-contentsafety==1.0.0b1
azure-ai-ml==1.13.0
azureml-mlflow==1.60.0
azure-identity==1.23.0
requests==2.32.4
fastapi==0.120.4
pandas==2.1.4
transformers==4.55.2
uvicorn==0.38.0
httpx==0.28.1
azure-mgmt-cognitiveservices==14.1.0
pillow==12.0.0