# src
azure-ai-ml
azure-identity
scipy==1.5.3
numpy==1.24.4
azureml-evaluate-mlflow
ffmpeg-python
langcodes
wget
applicationinsights

## test
mock
pydash
pytest
pytest-cov
pytest-forked
pytest-mock
pytest-timeout
pytest-xdist
