# src
pycocotools==2.0.6
azure-ai-ml
azureml-evaluate-mlflow
langcodes
azureml-automl-core
azureml-telemetry
mlflow==2.2.1
mlflow-skinny==2.2.1

## test
mock
pydash
pytest
pytest-cov
pytest-forked
pytest-mock
pytest-timeout
pytest-xdist
