requests==2.27.1
docker==4.4.4
pandas>=1.1,<1.2
tensorflow==2.5
pyyaml== 5.4.1
h5py==3.1.0
# Tensorflow 2.5 supports protobuf <=3.20.1. Pinnng the version here as the pip version we are using
# does not have a dependency resolver and will end up with the latest protobuf version (>= 4.0.0).
protobuf<=3.20.1