torch==2.0.1
deepspeed[sd]==0.12.3
deepspeed-mii==0.1.1
pandas~=2.0.3
transformers~=4.34.0
vllm==0.2.0
aiolimiter~=1.1.0
azure-ai-ml=={{latest-pypi-version}}
azure-identity=={{latest-pypi-version}}
azureml-inference-server-http=={{latest-pypi-version}}
azureml-mlflow=={{latest-pypi-version}}
azureml-ai-monitoring==0.1.0b4
azure-ai-contentsafety~=1.0.0b1
cryptography~=41.0.4
certifi==2023.07.22
requests~=2.31.0
aiohttp~=3.8.5
