git+https://github.com/microsoft/DeepSpeed.git
git+https://github.com/microsoft/DeepSpeed-MII.git@mrwyattii/update-AML-deployment

aiolimiter==1.1.0
torch==2.0.1
psutil=={{latest-pypi-version}}
transformers=={{latest-pypi-version}}
sentencepiece=={{latest-pypi-version}}
xformers=={{latest-pypi-version}}
mlflow==2.3.1
mlflow-skinny==2.3.1
azure-ai-contentsafety==1.0.0b1
azure-ai-mlmonitoring==0.1.0a3
azure-identity==1.13.0
azure-mgmt-cognitiveservices==13.4.0
azureml-inference-server-http=={{latest-pypi-version}}
azureml-core=={{latest-pypi-version}}
azureml-mlflow=={{latest-pypi-version}}