transformers==4.50.0
accelerate==0.33.0
torch==2.7.0
tensorflow==2.17.0
pandas==2.1.4
numpy==1.26.2
scikit-learn==1.5.0
scipy==1.11.4
lightgbm==4.6.0
opencv-python==4.11.0.86
keras==3.9.0
matplotlib==3.9.2
pydicom==2.4.4