azureml-metrics[image]~={{latest-pypi-version}}
azureml-acft-accelerator=={{latest-pypi-version}}
azureml-acft-common-components[image]~={{latest-pypi-version}}
azureml-acft-image-components=={{latest-pypi-version}}
azureml-core=={{latest-pypi-version}}
requests
datasets==2.19.0
transformers==4.50.0
accelerate==0.29.3
optimum==1.24.0
diffusers==0.27.2
huggingface-hub==0.26.0
setuptools>=71.1.0
mlflow==2.20.3