azureml-metrics[image]~={{latest-pypi-version}}
azureml-evaluate-mlflow=={{latest-pypi-version}}
azureml-acft-accelerator=={{latest-pypi-version}}
azureml-acft-common-components[image]~={{latest-pypi-version}}
azureml-acft-image-components=={{latest-pypi-version}}
azureml-core=={{latest-pypi-version}}
azure-ai-ml==1.13.0
requests
datasets==2.16.1
transformers==4.37.1
accelerate==0.26.1
# ORT-training>=1.17.1 is required for dinov2 training with ORT.
# Pinning to 1.16.0 for now to avoid swinv2 segfault issue with ORT.
onnxruntime-training==1.16.0
optimum==1.17.1
diffusers==0.24.0
numpy==1.22.2
certifi==2023.07.22
setuptools==67.6.0