azureml-metrics[image]~=0.0.37
azureml-evaluate-mlflow=={{latest-pypi-version}}
azureml-acft-accelerator=={{latest-pypi-version}}
azureml-acft-common-components[image]~=0.0.37
azureml-acft-image-components=={{latest-pypi-version}}
azureml-core==1.54.0
azure-ai-ml==1.11.0
requests
datasets==2.14.7
transformers==4.34.1
accelerate==0.23.0
optimum==1.13.1
diffusers==0.20.2
numpy==1.22.2
certifi==2023.07.22
setuptools==67.6.0