accelerate
blobfile
datasets
httpx[http2]
mcp[cli]
memray
numba
omegaconf
pillow>=12.2.0
pylatexenc
pyyaml
qwen_vl_utils
ray[default]==2.55.1
ring_flash_attn
sglang-router>=0.2.3
tensorboard
transformers
wandb
azureml-core==1.61.0.post4
azureml-dataset-runtime==1.62.0
azureml-defaults==1.62.0
azureml-mlflow==1.62.0.post3
