azureml-core==1.60.0.post1
azureml-dataset-runtime==1.60.0
azureml-defaults==1.60.0
azure-ml-component==0.9.18.post2
azureml-mlflow==1.60.0.post1
azureml-contrib-services==1.60.0
azureml-inference-server-http
inference-schema
MarkupSafe
regex
pybind11
urllib3
requests
pillow
transformers
aiohttp>=3.12.14
py-spy
debugpy
ipykernel
tensorboard
psutil
matplotlib
tqdm
py-cpuinfo
torch-tb-profiler
