azureml-core==1.61.0.post1
azureml-dataset-runtime==1.61.0
azureml-defaults==1.61.0
azure-ml==0.0.1
azure-ml-component==0.9.18.post2
azureml-mlflow==1.61.0.post1
azureml-contrib-services==1.61.0
azureml-contrib-services==1.61.0
torch-tb-profiler~=0.4.0
azureml-inference-server-http
inference-schema
MarkupSafe==2.1.2
regex
pybind11
urllib3>=1.26.18
cryptography>=42.0.5
aiohttp>=3.8.5
idna>=3.7
py-spy==0.3.12
debugpy~=1.6.3
ipykernel~=6.0
tensorboard
psutil~=5.8.0
matplotlib~=3.5.0
tqdm~=4.66.3
py-cpuinfo==5.0.0
torch-tb-profiler~=0.4.0
