azureml-metrics[video]==0.0.37
azureml-evaluate-mlflow==0.0.38
azureml-acft-accelerator==0.0.38
azureml-acft-common-components[image]==0.0.37
azureml-acft-image-components==0.0.38
azureml-core==1.53.0
azure-ai-ml==1.11.0
requests
datasets==2.14.7
transformers==4.34.1
accelerate==0.23.0
# NOTE: optimum is pinned to old version because with new version, we see big drop in run time performance for MMD
optimum==1.8.8
diffusers==0.20.2
openmim==0.3.9
mmengine==0.8.4
peft==0.4.0
certifi==2023.07.22
setuptools==67.6.0