azureml-core==1.55.0
azureml-acft-accelerator=={{latest-pypi-version}}
# azureml-evaluate-mlflow=={{latest-pypi-version}}
azureml-acft-common-components=={{latest-pypi-version}}
azureml-acft-contrib-hf-nlp=={{latest-pypi-version}}
# Temporarily commenting azureml_acft_multimodal_components since it is not supported in python 3.10 and we need to
# upgrade to python 3.10 to address scikit-learn vulnerability(version 1.5.0) which requires python>=3.9
# Uncomment the below line once azureml_acft_multimodal_components is supported in python 3.10
# azureml_acft_multimodal_components=={{latest-pypi-version}}
# needed by multimodal
mltable==1.5.0
transformers==4.48.0
peft==0.4.0
deepspeed==0.16.4
optimum==1.23.3
accelerate==0.25.0
diffusers==0.24.0
onnxruntime-training==1.18.0
scipy==1.10.0
mpi4py==3.1.4
sentencepiece==0.1.99
rouge-score==0.1.2
sacrebleu==2.2.1
bitsandbytes==0.41.0
einops==0.6.1
numpy==1.22
azureml-dataprep==4.12.4
# Downgraded azureml-metrics, to prevent bug related to logger in azureml-metrics. Should be upgraded in next pypi release of acft-multimodal
azureml-metrics==0.0.33