azure-ai-evaluation==1.9.0
azureml-mlflow==1.60.0.post1
azure-ai-ml==1.27.1

openai==1.78.1
opentelemetry-api==1.31.0
opentelemetry-sdk==1.31.0
azure-monitor-query==1.4.1
croniter==6.0.0
azure-monitor-opentelemetry==1.6.10
promptflow-azure==1.18.1
azure-identity==1.23.0