azureml-acft-common-components==0.0.76
azureml-acft-contrib-hf-nlp==0.0.76
nbformat~=5.10.0
plotly~=5.23.0
scikit-learn==1.5.1
torch~=2.6.0
torchvision~=0.21.0
tqdm~=4.66.5
python-gdcm~=3.0.24.0
gdown~=5.2.0
opencv-python~=4.10.0.84
pydicom~=2.4.0
pandas==2.2.3
mlflow==2.20.3