azure-core=={{latest-pypi-version}}
azure-ai-ml=={{latest-pypi-version}}
azure-identity=={{latest-pypi-version}}
azureml-evaluate-mlflow=={{latest-pypi-version}}
ffmpeg-python=={{latest-pypi-version}}
langcodes=={{latest-pypi-version}}
sentencepiece==0.1.97
wget==3.2