azure-core=={{latest-pypi-version}}
azure-ai-ml=={{latest-pypi-version}}
azure-identity=={{latest-pypi-version}}
azureml-evaluate-mlflow=={{latest-pypi-version}}
ffmpeg=={{latest-pypi-version}}
langcodes=={{latest-pypi-version}}
protobuf==3.20.0
sentencepiece==0.1.97
accelerate==0.17.1
datasets==2.11.0
diffusers==0.14.0
