azureml-metrics=={{latest-pypi-version}}
azureml-evaluate-mlflow=={{latest-pypi-version}}
azureml-acft-accelerator=={{latest-pypi-version}}
azureml-acft-common-components[image]=={{latest-pypi-version}}
azureml-acft-image-components=={{latest-pypi-version}}
azureml-core==1.52.0
azure-ai-ml==1.5.0
requests
datasets==2.12.0
transformers==4.29.1
optimum==1.6.4
accelerate==0.19.0
diffusers==0.17.1
openmim==0.3.9