azureml-acft-common-components==0.0.84
azureml-acft-contrib-hf-nlp==0.0.84
azureml-acft-image-components[hls]==0.0.84
azureml-mlflow==1.61.0.post1
opencv-python==4.11.0.86
pyyaml==6.0.2
json_tricks==3.17.3
yacs==0.1.8
scikit-learn==1.5.2
pandas==2.0.3
timm==0.9.12
numpy==1.22.2
einops==0.8.1
fvcore==0.1.5.post20221221
transformers==4.53.0
sentencepiece==0.2.0
ftfy==6.3.1
regex==2024.11.6
vision-datasets==0.2.7
tenacity==9.0.0
requests==2.32.4
azure-storage-blob==12.13.0
deepspeed==0.17.1
GPUtil==1.4.0
mup==1.0.0
torch==2.8.0
torchvision==0.23.0
safetensors==0.5.2
setuptools==78.1.1
mlflow==3.5.0
filelock>=3.20.1