azureml-core=={{latest-pypi-version}}
azureml-dataset-runtime=={{latest-pypi-version}}
azureml-defaults=={{latest-pypi-version}}
azure-ml=={{latest-pypi-version}}
azure-ml-component=={{latest-pypi-version}}
azureml-mlflow=={{latest-pypi-version}}
azureml-contrib-services=={{latest-pypi-version}}
azureml-contrib-services=={{latest-pypi-version}}
azureml-automl-common-tools=={{latest-pypi-version}}
torch-tb-profiler~=0.4.0
azureml-inference-server-http~=0.8.0
inference-schema~=1.5.0
MarkupSafe==2.1.2
regex
pybind11
cryptography>=41.0.4
aiohttp>=3.8.5