accelerate
blobfile
datasets
httpx[http2]
mcp[cli]
memray
numba
omegaconf
pillow>=12.2.0
pylatexenc
pyyaml
qwen_vl_utils
ray[default]==2.55.1
ring_flash_attn
sglang-router>=0.2.3
tensorboard
transformers
wandb
azureml-core=={{latest-pypi-version}}
azureml-dataset-runtime=={{latest-pypi-version}}
azureml-defaults=={{latest-pypi-version}}
azureml-mlflow=={{latest-pypi-version}}
