azureml-metrics[image]~=0.0.72
azureml-acft-accelerator==0.0.72
azureml-acft-common-components[image]~=0.0.72
azureml-acft-image-components==0.0.72
azureml-core==1.59.0.post2
requests
datasets==2.19.0
transformers==4.48.0
accelerate==0.29.3
optimum==1.23.3
diffusers==0.27.2
huggingface-hub==0.25.2
setuptools>=71.1.0
mlflow==2.16.0