azureml-metrics[image]~=0.0.45
azureml-evaluate-mlflow==0.0.45
azureml-acft-accelerator==0.0.45
azureml-acft-common-components[image]~=0.0.45
azureml-acft-image-components==0.0.45
azureml-core==1.55.0
azure-ai-ml==1.13.0
requests
datasets==2.16.1
transformers==4.37.1
accelerate==0.26.1
optimum==1.16.2
diffusers==0.24.0
numpy==1.22.2
certifi==2023.07.22
setuptools==67.6.0