azureml-metrics[image]~=0.0.83
azureml-acft-accelerator==0.0.83
azureml-acft-common-components[image]~=0.0.83
azureml-acft-image-components==0.0.83
azureml-core==1.61.0
requests==2.32.4
datasets==2.19.0
transformers==4.53.0
accelerate==0.29.3
optimum==1.24.0
diffusers==0.27.2
huggingface-hub==0.30.0
setuptools>=78.1.1
mlflow==3.1.0
