# ## Install dbcopilot
# --extra-index-url https://azuremlsdktestpypi.azureedge.net/dbcopilot
# dbcopilot==0.4.20230809.3
# --extra-index-url https://azuremlsdktestpypi.azureedge.net/dbcopilottool
# db_copilot_tool==0.1.8
promptflow[azure]==0.1.0b7.post1
promptflow-tools==0.1.0b6
promptflow-vectordb==0.1.2