azureml-rag[cognitive_search,data_generation]==0.2.28
azureml-contrib-services
azure-identity==1.14.0
azureml-core~=1.53.0
azure-kusto-data==4.2.0
plotly~=5.13.1
recognizers-text-suite~=1.0.2a2
applicationinsights~=0.11.10
azure-cosmos~=4.4.0
clickhouse_connect~=0.7.2