openai==1.28.0
pandas==2.2.0
azureml-mlflow==1.56.0
azure-mgmt-cognitiveservices==13.5.0
azure-identity>=1.16.1
jsonlines==4.0.0
azureml-telemetry==1.56.0
pydantic==2.7.0
idna>=3.7
azure-keyvault-secrets==4.8.0
requests==2.32.4
urllib3==2.6.3
pillow==11.3.0