# Install Python SDK
azure-ai-ml
openai>1.0
# hardcoded the version of azureml-mlflow here for faster Docker image building speed.
azureml-mlflow==1.57.0
# copilot dependencies
keyrings.alt
ipykernel
langchain
langchain-openai
semantic-kernel
pytest
keyring
# Temporary fix version for security patch
tornado>=6.4.2
