# Install Python SDK
azure-ai-ml=={{latest-pypi-version}}
openai
# hardcoded the version of azureml-mlflow here for faster Docker image building speed
azureml-mlflow=={{latest-pypi-version}}
# copilot dependencies
keyrings.alt
ipykernel
langchain
langchain-openai
semantic-kernel
pytest
keyring
# dev dependencies
setuptools>78.1
azureml-inference-server-http
