# Install Python SDK
ipykernel>=6.29.0
openai>1.0.0
# Promptflow
promptflow[azure]>=1.13.0
promptflow-evals
promptflow-rag
keyrings.alt
# hardcoded the version of azureml-mlflow here for faster Docker image building speed
azureml-mlflow==1.53.0
# copilot dependencies
langchain==0.1.17
langchain-openai==0.1.6
semantic-kernel
pytest
keyring
# inference server dependencies
azureml-inference-server-http
flask>=2.0.0
# Temporary fix version for security patch
urllib3>=2.2.2
certifi>=2024.07.04
setuptools>=71.1.0
