torch==2.8.0
deepspeed-mii==0.3.3
pandas==2.1.4
transformers==4.55.2
vllm==0.11.0
aiolimiter==1.1.1
azure-ai-ml==1.13.0
azureml-inference-server-http==1.4.1
azureml-mlflow==1.60.0
azureml-ai-monitoring==1.0.0
azure-identity==1.23.0
azure-ai-contentsafety==1.0.0b1
certifi==2025.7.14
requests==2.32.4
aiohttp==3.10.11
pillow==11.3.0
httpx==0.28.1
fastapi==0.120.4
uvicorn==0.35.0
scipy==1.15.3
accelerate==1.9.0
pytest==8.4.1
pytest-asyncio==1.1.0
ruamel.yaml==0.15.42
h2==4.3.0