azure-core==1.35.0
azure-ai-ml==1.28.1
azure-identity==1.23.1
azureml-evaluate-mlflow==0.0.77
ffmpeg-python==0.2.0
langcodes==3.5.0
sentencepiece==0.2.0
accelerate==1.9.0
wget==3.2
applicationinsights==0.11.10
azureml-automl-core==1.60.0
azureml-telemetry==1.60.0
#azureml-automl-dnn-vision==None
pyarrow==14.0.2
GitPython==3.1.45
paramiko==3.5.1
cryptography==44.0.2
####
torch==2.7.1
torchaudio==2.7.1
setuptools==78.1.1
Pillow 
gunicorn 
onnx==1.17.0 
idna 
tqdm 
requests==2.32.4
tornado==6.5
certifi==2024.07.04 
urllib3==2.5.0
scikit-learn==1.5.1 
mlflow==3.1.0
mlflow-skinny==3.1.0
marshmallow==3.23.2
transformers==4.53.0
