azure-core==1.38.0
azure-ai-ml==1.28.1
azure-identity==1.23.1
azureml-evaluate-mlflow==0.0.77
ffmpeg-python==0.2.0
langcodes==3.5.0
sentencepiece==0.2.1
accelerate==1.9.0
wget==3.2
applicationinsights==0.11.10
azureml-automl-core==1.60.0
azureml-telemetry==1.60.0
#azureml-automl-dnn-vision==None
pyarrow==14.0.2
GitPython==3.1.45
paramiko==3.5.1
cryptography==46.0.5
####
#torch==2.8.0
#torchaudio==2.8.0
setuptools==80.0.0
Pillow==12.1.1
gunicorn==23.0.0
onnx==1.17.0 
idna==3.10
tqdm==4.67.1
requests==2.32.4
tornado==6.5
certifi==2024.07.04 
urllib3==2.6.3
scikit-learn==1.5.1 
mlflow==3.6.0
mlflow-skinny==3.6.0
marshmallow==3.26.2
transformers==4.55.2
filelock==3.20.3
protobuf>=6.33.5