azure-core==1.29.4
azure-ai-ml==1.11.1
azure-identity==1.14.1
azureml-evaluate-mlflow==0.0.37
ffmpeg-python==0.2.0
langcodes==3.3.0
sentencepiece==0.1.99
accelerate==0.23.0
wget==3.2
applicationinsights==0.11.10
azureml-automl-core==1.53.2
azureml-telemetry==1.53.0
azureml-automl-dnn-vision==1.54.0
