name: assets-validation

on:
  push:
    branches:
      - release
  pull_request:
    branches:
      - main
    paths-ignore:
      - .github/**
      - scripts/**
      - test/**
  workflow_dispatch:
    inputs:
      asset_dirs:
        description: Asset directories
        default: .,!test,!scripts
        required: true

env:
  default_asset_dirs: .,!test,!scripts
  default_test_dirs: .,!test,!scripts,!.git,!.github
  scripts_azureml_assets_dir: scripts/azureml-assets
  scripts_assets_dir: scripts/azureml-assets/azureml/assets
  scripts_release_dir: scripts/release
  asset_config_filename: asset.yaml

defaults:
  run:
    shell: bash

jobs:
  validate:
    name: Validate
    runs-on: ubuntu-latest

    steps:
      - name: Clone branch
        uses: actions/checkout@v3
      
      - name: Use Python 3.8 or newer
        uses: actions/setup-python@v3
        with:
          python-version: '>=3.8'
    
      - name: Install dependencies
        run: pip install -e $scripts_azureml_assets_dir
      
      - name: Validate assets
        run: python -u $scripts_assets_dir/validate_assets.py -i "${{ github.event.inputs.asset_dirs || env.default_asset_dirs }}" -a $asset_config_filename

      - name: Check test coverage
        run: |
          mkdir -p ${{ runner.temp }}/test_coverage
          python -u $scripts_release_dir/test_file_convert.py -i "${{ env.default_test_dirs }}" -r ${{ runner.temp }}/test_coverage
