name: assets-release

on:
  push:
    branches:
      - main
    paths-ignore:
      - '.github/**'
      - 'scripts/**'
  schedule:
    - cron: '30 6 * * *'
  pull_request:
    branches:
      - main
  workflow_dispatch:
    inputs:
      asset_dirs:
        description: Asset directory
        default: .
        required: true

concurrency: ${{ github.workflow }}

env:
  main_dir: main
  release_dir: release
  scripts_dir: scripts
  changed_assets_artifact: changed-assets
  releasable_assets_artifact: releasable-assets
  asset_config_filename: asset.yaml
  build_test_matrix_template: .github/includes/build-test-matrix.json

defaults:
  run:
    shell: bash

jobs:
  identify-updated-assets:
    name: Identify updated assets
    runs-on: ubuntu-latest

    steps:
      - name: Clone branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: ${{ env.main_dir }}
      
      - name: Clone release branch
        uses: actions/checkout@v3
        with:
          ref: release
          fetch-depth: 0
          path: ${{ env.release_dir }}
      
      - name: Use Python 3.8 or newer
        uses: actions/setup-python@v3
        with:
          python-version: '>=3.8'
    
      - name: Install dependencies
        run: pip install -r $main_dir/$scripts_dir/requirements.txt
      
      # TODO: Consider using Git to detect changes
      - name: Find updated assets
        id: find-updated-assets
        run: python -u $main_dir/$scripts_dir/update_assets.py -i "$main_dir/${{ github.event.inputs.asset_dirs || '.' }}" -r $release_dir -o ${{ runner.temp }}/$changed_assets_artifact

      - name: Upload changed assets
        uses: actions/upload-artifact@v3
        if: steps.find-updated-assets.outputs.has_updates
        with:
          name: ${{ env.changed_assets_artifact }}
          path: ${{ runner.temp }}/${{ env.changed_assets_artifact }}
      
      - name: Upload non-testable assets
        uses: actions/upload-artifact@v3
        if: steps.find-updated-assets.outputs.has_updates
        with:
          name: ${{ env.releasable_assets_artifact }}
          path: |
            ${{ runner.temp }}/${{ env.changed_assets_artifact }}
            !${{ runner.temp }}/${{ env.changed_assets_artifact }}/environment
      
      - name: Create build and test matrix
        id: create-matrix
        uses: JoshuaTheMiller/conditional-build-matrix@0.0.1
        with:
          inputFile: ${{ env.main_dir }}/${{ env.build_test_matrix_template }}
          filter: '[?contains(`${{ steps.find-updated-assets.outputs.env_os_updates }}`, os)] | {os: [].os, include: @}'
          # TODO: Use the line below after this PR merges: https://github.com/JoshuaTheMiller/conditional-build-matrix/pull/2
          # addInclude: false
      
      # TODO: Remove this step after the above PR merges
      # Remove the wrapper added by the step above
      - name: Update matrix
        id: update-matrix
        run: |
          matrix=$(echo '${{ steps.create-matrix.outputs.matrix }}' | sed -E 's/^\{"include":(.+)\}$/\1/')
          echo "::set-output name=matrix::$matrix"

    outputs:
      has_updates: ${{ steps.find-updated-assets.outputs.has_updates }}
      build_matrix: ${{ steps.update-matrix.outputs.matrix }}

  build-images:
    name: Build and test images
    if: fromJson(needs.identify-updated-assets.outputs.build_matrix).os[0]
    runs-on: ${{ matrix.runs_on }}
    needs: identify-updated-assets

    strategy:
      matrix: ${{ fromJson(needs.identify-updated-assets.outputs.build_matrix) }}
    env:
      build_logs_artifact_name: build-logs
      built_dir: built-environments
      tested_dir: tested-environments

    steps:
      - name: Download changed assets
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.changed_assets_artifact }}
          path: ${{ runner.temp }}/${{ env.changed_assets_artifact }}
    
      - name: Clone branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: ${{ env.main_dir }}
      
      - name: Use Python 3.8 or newer
        uses: actions/setup-python@v3
        with:
          python-version: '>=3.8'
    
      - name: Install dependencies
        run: pip install -r $main_dir/$scripts_dir/requirements.txt
      
      - name: Build images
        id: build-images
        run: python -u $main_dir/$scripts_dir/build.py -i '${{ runner.temp }}'/$changed_assets_artifact -a $asset_config_filename -o '${{ runner.temp }}'/$built_dir -O ${{ matrix.os }} -l '${{ runner.temp }}'/$build_logs_artifact_name
        continue-on-error: true

      - name: Upload build logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ${{ env.build_logs_artifact_name }}
          path: ${{ runner.temp }}/${{ env.build_logs_artifact_name }}

      - name: Test images
        id: test-images
        if: steps.build-images.outputs.success_count > 0
        run: python -u $main_dir/$scripts_dir/test.py -i '${{ runner.temp }}'/$built_dir -a $asset_config_filename -o '${{ runner.temp }}'/$tested_dir -O ${{ matrix.os }}
        continue-on-error: true
      
      - name: Upload tested assets
        if: steps.test-images.outputs.success_count > 0
        uses: actions/upload-artifact@v3
        with:
          name: ${{ env.releasable_assets_artifact }}
          path: ${{ runner.temp }}/${{ env.tested_dir }}

  check-release-assets:
    name: Check releaseable assets
    if: always()
    runs-on: ubuntu-latest
    needs:
      - identify-updated-assets
      - build-images

    steps:
      - name: Download releasable assets
        id: download-artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.releasable_assets_artifact }}
          path: ${{ runner.temp }}/${{ env.releasable_assets_artifact }}
        continue-on-error: true

    outputs:
      has_releasable_assets: ${{ steps.download-artifact.outputs.download-path }}
  
  check-var:
    name: check variables
    if: always()
    runs-on: ubuntu-latest
    
    steps:
      - name: check
        id: check-var
        run: |
          echo ${{ needs.check-release-assets.outputs.has_releasable_assets != '' && github.ref == 'refs/heads/wayliu/releasebug' }}
          echo ${{ needs.check-release-assets.outputs.has_releasable_assets }}
          echo ${{ needs.check-release-assets.outputs.has_releasable_assets != ''}}
          echo ${{github.ref}}

  release-assets:
    name: Release assets
    if: ${{ needs.check-release-assets.outputs.has_releasable_assets != '' && github.ref == 'refs/heads/wayliu/releasebug' }}
    runs-on: ubuntu-latest
    needs: check-release-assets
    
    steps:
      - name: Download releasable assets
        id: download-artifact
        uses: actions/download-artifact@v3
        with:
          name: ${{ env.releasable_assets_artifact }}
          path: ${{ runner.temp }}/${{ env.releasable_assets_artifact }}
      
      - name: Clone branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: ${{ env.main_dir }}

      - name: Clone release branch
        uses: actions/checkout@v3
        if: steps.download-artifact.outputs.download-path
        with:
          ref: release
          fetch-depth: 0
          path: ${{ env.release_dir }}

      # TODO: Not needed unless calling update_assets.py
      - name: Use Python 3.8 or newer
        uses: actions/setup-python@v3
        with:
          python-version: '>=3.8'
    
      - name: Install dependencies
        run: pip install -r $main_dir/$scripts_dir/requirements.txt
      
      # TODO: This is overkill, just copy directories without involving this script
      - name: Update release branch
        run: python -u $main_dir/$scripts_dir/update_assets.py -i ${{ runner.temp }}/$_artifact -r $release_dir -c
  
      - name: Create commit and push
        run: |
          if [[ -z $(git status -s) ]]; then
            echo "No updates to the release branch"
            exit 0
          fi
          git config user.email "<>"
          git config user.name "$GITHUB_WORKFLOW"
          git add -A .
          git commit -m "Release $GITHUB_SERVER_URL/$GITHUB_REPOSITORY/actions/runs/$GITHUB_RUN_ID"
          git push
        working-directory: ${{ env.release_dir }}
