name: environments-release

on:
  push:
    branches:
      # FIXME: Remove this before merging to main
      - elesel/work-with-release-branch
      - main
  schedule:
    - cron: '30 6 * * *'
  workflow_dispatch:
    inputs:
      image_dirs:
        description: Image directories
        default: general/src/environments
        required: true

env:
  RELEASE_DIR: release
  SCRIPTS_DIR: scripts/environments

defaults:
  run:
    shell: bash

jobs:
  release-environments:
    name: Release environments
    runs-on: ubuntu-latest
    
    steps:
      - name: Clone branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      
      - name: Clone release branch
        uses: actions/checkout@v3
        with:
          ref: release
          fetch-depth: 0
          path: ${{ env.RELEASE_DIR }}
      
      - name: Use Python 3.8 or newer
        uses: actions/setup-python@v3
        with:
          python-version: '>=3.8'
    
      - name: Install dependencies
        run: pip install -r $SCRIPTS_DIR/requirements.txt
      
      - name: Update release branch
        run: python -u $SCRIPTS_DIR/update_release.py -i "${{ github.event.inputs.image_dirs || 'general/src/environments' }}" -r $RELEASE_DIR
