name: environments-ci

on:
  push:
    branches:
      - elesel/use-testing-sub
  pull_request:
    branches:
      - main
    paths-ignore:
      - .github/**
  workflow_dispatch:
    inputs:
      asset_dirs:
        description: Asset directories
        default: .,!test,!scripts
        required: true

env:
  default_asset_dirs: .,!test,!scripts
  scripts_azureml_assets_dir: scripts/azureml-assets
  scripts_environment_dir: scripts/azureml-assets/azureml/assets/environment
  scripts_setup_dir: scripts/setup
  asset_config_filename: asset.yaml

permissions:
  # Required for OIDC login to Azure
  id-token: write

defaults:
  run:
    shell: bash

jobs:
  build-images:
    name: Build and test images
    runs-on: ubuntu-latest
    environment: Testing

    env:
      build_logs_artifact_name: build-logs
      built_dir: built-environments

    steps:
      - name: Clone branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 2
      
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v24
        with:
          files_separator: ','
          separator: ','
      
      - name: Use Python 3.8 or newer
        uses: actions/setup-python@v3
        with:
          python-version: '>=3.8'
    
      - name: Install dependencies
        run: pip install -e $scripts_azureml_assets_dir
      
      - name: Login to Azure and create resources
        uses: ./.github/actions/create-azure-resources
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          scripts-setup-dir: ${{ env.scripts_setup_dir }}

      - name: Build and test changed images
        id: build-changed-images
        run: python -u $scripts_environment_dir/build.py -i "${{ github.event.inputs.asset_dirs || env.default_asset_dirs }}" -a $asset_config_filename -o '${{ runner.temp }}'/$built_dir -l '${{ runner.temp }}'/$build_logs_artifact_name -P -g $resource_group -r $container_registry -T 'python -V' -c "${{ steps.changed-files.outputs.all_modified_files }}"

      - name: Upload build logs
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ${{ env.build_logs_artifact_name }}
          path: ${{ runner.temp }}/${{ env.build_logs_artifact_name }}
