name: model-monitoring-ci

on:
  pull_request:
    branches:
      - main 
    paths:
      - model_monitoring/**
      - .github/workflows/model-monitoring-ci.yml
      

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
env:
  root_dir: root
  momoComponentsRootPath: root/model_monitoring/components
  testsRootPath: root/model_monitoring/components/tests
  pytest_report_folder: results
  pytest_report_file: junit3.xml

permissions:
  # Required to clone repo
  contents: read
  # Required for OIDC login to Azure
  id-token: write

defaults:
  run:
    shell: cmd

jobs:
  run-e2e-tests:
    name: Run Monitoring Component Tests
    runs-on: windows-latest

    steps:
      - name: Clone branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 1
          path: ${{ env.root_dir }}
      
      
      - name: Use Python 3.8
        uses: actions/setup-python@v4
        with:
          python-version: '3.8'

      - name: Install dependencies
        run: python -m pip install -r ${{ env.testsRootPath }}/requirements.txt

      - name: Log in to Azure and create resources
        uses: Azure/azureml-assets/.github/actions/create-azure-resources@main
        with:
          client-id: ${{ secrets.AZURE_CLIENT_ID }}
          tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          scripts-setup-dir: ${{ env.scripts_setup_dir }}

      - name: Test asset
        run: python -m pytest --junitxml=${{ env.pytest_report_folder }}/${{ env.pytest_report_file }} ${{ env.momoComponentsRootPath }} -o log_level=DEBUG -n 8 -m unit

      - name: Upload test results
        uses: actions/upload-artifact@v3
        if: always()
        with:
          name: ${{ env.pytest_report_folder }}
          path: ${{ env.pytest_report_folder }}
  report:
      name: Publish test results
      if: always()
      runs-on: ubuntu-latest
      needs: run-e2e-tests

      permissions:
        # Required for EnricoMi/publish-unit-test-result-action
        checks: write
        issues: read
        pull-requests: write

      steps:
        - name: Download test results
          id: download-artifact
          uses: actions/download-artifact@v3
          with:
            name: ${{ env.pytest_report_folder }}
            path: ${{ env.pytest_report_folder }}
          continue-on-error: true

        - name: Publish test results
          if: steps.download-artifact.outputs.download-path != ''
          uses: EnricoMi/publish-unit-test-result-action@v2
          with:
            check_name: Test Results for ${{ github.workflow }}
            junit_files: ${{ env.pytest_report_folder }}/**/*.xml
