name: vision-ci
on:
  workflow_dispatch:
  pull_request:
    branches:
      - main
    paths:
      - vision/**
      - scripts/setup.sh

jobs:
  test:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: vision/

    steps:

    - name: check out repo
      uses: actions/checkout@v2

    - name: Set up Python 3.8
      uses: actions/setup-python@v2
      with:
        python-version: 3.8

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip==21.3.1
        pip install flake8==3.9.1 pytest~=6.2 pytest-cov~=2.11
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Test with pytest
      run: >-
        python -m pytest tests/
        --junitxml=test-build-result.xml
        --cov=src/ --cov-report xml:coverage.xml --cov-report term

    - name: Publish test results
      uses: EnricoMi/publish-unit-test-result-action/composite@v1
      with:
        check_name: Unit Test Results for Build
        github_token: ${{ secrets.GITHUB_TOKEN }}
        files: test-build-result.xml

    - name: Code Coverage Summary Report
      uses: irongut/CodeCoverageSummary@v1.0.2
      with:
        filename: coverage.xml
        badge: true
        hide_complexity: true
        format: 'markdown'
        output: 'both'

    - name: Add Coverage PR Comment
      uses: marocchino/sticky-pull-request-comment@v2
      if: github.event_name == 'pull_request'
      with:
        recreate: true
        path: code-coverage-results.md

  publish:
    name: "Publish vision components from main branch"
    runs-on: ubuntu-latest
    needs: [test]
    if: github.ref == 'refs/heads/main'

    steps:

    - name: check out repo
      uses: actions/checkout@v2

    - name: azure login
      uses: azure/login@v1
      with:
        creds: ${{secrets.BUILTINREGISTRYDEVSECRET}}

    - name: setup
      run: bash setup.sh
      working-directory: scripts
      continue-on-error: true

    - name: run job
      run: |
        az ml component create --file spec.yaml
      working-directory: vision/src/components/torchvision_finetune
