# Required for all tests
AZURE_AI_PROJECT_ENDPOINT=https://asayedahmed-ngen-swcentral-resou.services.ai.azure.com/api/projects/asayedahmed-ngen-swcentral
AZURE_AI_MODEL_DEPLOYMENT_NAME=gpt-4.1

# Required for AI Search test
AI_SEARCH_PROJECT_CONNECTION_ID=/subscriptions/7b43cfa1-da92-48cc-865d-5499466b3b5c/resourceGroups/Eval-Cairo-rg-WUS2/providers/Microsoft.CognitiveServices/accounts/asayedahmed-ngen-swcentral-resou/projects/asayedahmed-ngen-swcentral/connections/selshafeyaisearch2akd2v
AI_SEARCH_INDEX_NAME=hotels-sample-index

# Required for Bing Grounding test
BING_PROJECT_CONNECTION_ID=/subscriptions/7b43cfa1-da92-48cc-865d-5499466b3b5c/resourceGroups/Eval-Cairo-rg-WUS2/providers/Microsoft.CognitiveServices/accounts/asayedahmed-ngen-swcentral-resou/projects/asayedahmed-ngen-swcentral/connections/binggroundingsearch2akd2v

# Required for SharePoint test
SHAREPOINT_PROJECT_CONNECTION_ID=/subscriptions/7b43cfa1-da92-48cc-865d-5499466b3b5c/resourceGroups/Eval-Cairo-rg-WUS2/providers/Microsoft.CognitiveServices/accounts/asayedahmed-ngen-swcentral-resou/projects/asayedahmed-ngen-swcentral/connections/test_sharepoint

# Required for Fabric test
FABRIC_PROJECT_CONNECTION_ID=/subscriptions/7b43cfa1-da92-48cc-865d-5499466b3b5c/resourceGroups/Eval-Cairo-rg-WUS2/providers/Microsoft.CognitiveServices/accounts/asayedahmed-ngen-swcentral-resou/projects/asayedahmed-ngen-swcentral/connections/fabric_dataagent

# Required for Browser Automation test
BROWSER_AUTOMATION_PROJECT_CONNECTION_ID=/subscriptions/7b43cfa1-da92-48cc-865d-5499466b3b5c/resourceGroups/Eval-Cairo-rg-WUS2/providers/Microsoft.CognitiveServices/accounts/asayedahmed-ngen-swcentral-resou/projects/asayedahmed-ngen-swcentral/connections/playright-workspace

# Required for Agent-to-Agent test
A2A_PROJECT_CONNECTION_ID=

# Required for Azure Function test
STORAGE_INPUT_QUEUE_NAME=
STORAGE_OUTPUT_QUEUE_NAME=
STORAGE_QUEUE_SERVICE_ENDPOINT=

# Required for Image Generation test
IMAGE_GENERATION_MODEL_DEPLOYMENT_NAME=gpt-image-1

# Required for Computer Use test
COMPUTER_USE_MODEL_DEPLOYMENT_NAME=computer-use-preview

# Required for Memory Search test
MEMORY_STORE_CHAT_MODEL_DEPLOYMENT_NAME=gpt-4.1
MEMORY_STORE_EMBEDDING_MODEL_DEPLOYMENT_NAME=text-embedding-3-large

# Required for MCP test
MCP_LEARN_PROJECT_CONNECTION_ID=MicrosoftLearn2
MCP_LEARN_SERVER_URL=https://learn.microsoft.com/api/mcp
MCP_KB_PROJECT_CONNECTION_ID=kb-earth-knowledge-bas-akd2v
MCP_KB_SERVER_URL=https://eval-cairo-search-service-wus2.search.windows.net/knowledgebases/earth-knowledge-base/mcp?api-version=2025-11-01-Preview

# Required for Bing Custom Search test
BING_CUSTOM_SEARCH_PROJECT_CONNECTION_ID=/subscriptions/7b43cfa1-da92-48cc-865d-5499466b3b5c/resourceGroups/Eval-Cairo-rg-WUS2/providers/Microsoft.CognitiveServices/accounts/asayedahmed-ngen-swcentral-resou/projects/asayedahmed-ngen-swcentral/connections/bingcustomsearch2akd2v
BING_CUSTOM_SEARCH_INSTANCE_NAME=general-configuration
